@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1574 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 335px;
  width: 380px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.max-comment-width{
    max-width: 1250px;
    margin: auto;
}

.snip1574:nth-child(2) {
    transition-delay: 200ms;
  }
  
  .snip1574:nth-child(3) {
    transition-delay: 400ms;
  }  
  
  .snip1574:nth-child(5) {
    transition-delay: 200ms;
  }
  
  .snip1574:nth-child(6) {
    transition-delay: 400ms;
  }
  
  @media (max-width: 1000px) {
    /* Réinitialisez les sélecteurs pour les largeurs d'écran inférieures à 1000px */
    .snip1574:nth-child(1),
    .snip1574:nth-child(3),
    .snip1574:nth-child(5) {
      transition-delay: 200ms !important;
    }
    .snip1574:nth-child(2),
    .snip1574:nth-child(4),
    .snip1574:nth-child(6) {
      transition-delay: 400ms !important;
    }
  }
  
  

@media(max-width: 1200px) {
    .snip1574{
        width: 100%;
    }
}

@media(max-width: 1000px) {
    .max-comment-width{
        max-width: 1000px;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}
.snip1574 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1574 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.7;
  height: 100%;
  object-fit: cover;
}

.snip1574 figcaption {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1574 figcaption:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 170px;
  opacity: 0.35;
  font-style: normal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
}

.snip1574 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}

.snip1574 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1574 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
