h1 ,h2 ,h3 , h4, span {
    font-family: 'Rubik', sans-serif;
}

h5, p {
    font-family: 'Montserrat', sans-serif;
}

/* h1,h2{
    font-size: 38px;
}

h3{
    font-size: 28px;
}

h4,h5,span{
    font-size: 20px;
}

p{
    font-size: 18px;
} */